// ACCORDION
// ---------


// Parent container
.accordion {
  margin-bottom: @baseLineHeight;
}

// Group == heading + body
.accordion-group {
  margin-bottom: 4px;
  /*border-left:5px solid @grayLighter;
  border-top:1px solid @grayLighter;
  border-bottom: 1px solid @grayLighter;*/
  //border-right: 0px;
  
  h3 {
    color:@white;
    text-transform:uppercase;
    font-weight:normal;

  }
}

.accordion-heading {
  border-bottom: 0;
  /*border-right:1px solid #e5e5e5;*/
  
  a {
    //color:@white;
    color:rgba(0,0,0,.66);
    font-size: 1.5em;
    line-height: .85em;
  }
//  a:hover {text-decoration: none;}
  	
 }
 



.courseBorder (@color) {
  border-left:20px solid @color;
}

.colorBorder(@color) {
  background-color: lighten(@grayLight,20%);
 // .box-shadow(~"0 1px 1px .5px rgba(0,0,0,.2), inset 0 -1px 0 rgba(255,255,255,.2)");
 .box-shadow(~"inset 0 1px 0px rgba(255,255,255,.3), 0 2px 1px .5px rgba(0,0,0,.15)");
 //.gradientBar(lighten(@grayLight, 30%), lighten(@grayLight,20%));
 //#gradient > .vertical(darken(@color,10%), lighten(@color, 10%));
 border-left:15px solid @color;

}
/*.c2 {
 background-color:@courseGreen;
}
.c3{
  background-color: @courseBlue;
}
.c4{
  background-color: @courseRed;
}
.c5{
  background-color: @courseBrown;
}
.c6{
  background-color: @coursePurple;
}
.c7{
  background-color: @courseGold;
}
.c8{
  background-color: @courseTeal;
}*/

.c1Border,.c2Border,.c3Border,.c4Border,.c5Border,.c6Border,.c7Border,.c8Border {
  //.courseBorder(@courseOrange);
  .box-shadow(~"0 1px 2px rgba(0, 0, 0, .30)");
  margin-bottom: 3px;
  .c1 {
    .colorBorder(@courseOrange);
  }
  .c2 {
    .colorBorder(@courseGreen);
  }
  .c3 {
    .colorBorder(@courseBlue);
  }
  .c4 {
    .colorBorder(@courseRed);
  }
  .c5 {
    .colorBorder(@courseBrown);
  }
  .c6 {
    .colorBorder(@coursePurple);
  }
  .c7 {
    .colorBorder(@courseGold);
  }
  .c8 {
    .colorBorder(@courseTeal);
  }
}
/*
.c2Border {
  .courseBorder(@courseGreen);
}

.c3Border {
  .courseBorder(@courseBlue);
}

.c4Border {
  .courseBorder(@courseRed);
}

.c5Border {
  .courseBorder(@courseBrown);
}

.c6Border {
  .courseBorder(@coursePurple);
}

.c7Border {
  .courseBorder(@courseGold);
}

.c8Border {
  .courseBorder(@courseTeal);
}*/

.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 8px;
}

// General toggle styles
/*
.accordion-toggle {
  cursor: pointer;
}
*/
// Inner needs the styles because you can't animate properly with any styles on the element
.accordion-inner {
  padding: 9px 10px;
  //border-top: 1px solid #e5e5e5;
  border-left: 15px solid lighten(@courseOrange, 25%);
  background-color:@myuw;
}
