// ACCORDION
// ---------


// Parent container
.accordion {
  margin-bottom: @baseLineHeight;
}

// Group == heading + body
.accordion-group {
  margin-bottom: 2px;
  /*border-left:5px solid @grayLighter;*/
  border-top:1px solid @grayLighter;
  border-bottom: 1px solid @grayLighter;
  border-right: 0px;
  
  h3 {color:@white;text-transform:uppercase;font-weight:normal;}
}

.accordion-heading {
  border-bottom: 0;
  border-right:1px solid #e5e5e5;
  
  a {color:@white;}
  a:hover {text-decoration: none;}
  	
 }
 
.c1 {
 background-color:@courseOrange;
}
.c1Border {
	border-left:5px solid @courseOrange;
	border-top:1px solid @courseOrange;
    border-bottom: 1px solid @courseOrange;
	}

.c2 {
 background-color:@courseGreen;
}
.c2Border {
	border-left:5px solid @courseGreen;
	border-top:1px solid @courseGreen;
    border-bottom: 1px solid @courseGreen;
}

.accordion-heading .accordion-toggle {
  display: block;
  padding: 12px 10px;
}

// General toggle styles
.accordion-toggle {
  cursor: pointer;
}

// Inner needs the styles because you can't animate properly with any styles on the element
.accordion-inner {
  padding: 9px 10px;
  border-top: 1px solid #e5e5e5;
}
