// ACCORDION
// ---------


// Parent container
.accordion {
  margin-bottom: @baseLineHeight;
}

// Group == heading + body
.accordion-group {
  margin-bottom: 2px;
  /*border-left:5px solid @grayLighter;*/
  border-top:1px solid @grayLighter;
  border-bottom: 1px solid @grayLighter;
  border-right: 0px;
  
  h3 {color:@white;}
}

.accordion-heading {
  border-bottom: 0;
  border-right:1px solid #e5e5e5;	
 }
 
.c1 {
 background-color:@orange;
}
.c1Border {
	border-left:5px solid @orange;
	border-top:1px solid @orange;
    border-bottom: 1px solid @orange;
	}

.c2 {
 background-color:@green;
}
.c2Border {
	border-left:5px solid @green;
	border-top:1px solid @green;
    border-bottom: 1px solid @green;
}

.accordion-heading .accordion-toggle {
  display: block;
  padding: 12px 15px;
}

// General toggle styles
.accordion-toggle {
  cursor: pointer;
}

// Inner needs the styles because you can't animate properly with any styles on the element
.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}
